
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:gold;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*body control*/
body{
    width: 90%
    max-width:1024px;
    margin: 0 auto;
    background-color: lightgray;
}
header{
    text-align: center;
    width: 96.875%;
    padding: 15px 1.5625%;
}
main{
    width: 59.375%;
    padding: 15px 2%;
    float: left;
}
ol.circle {
  list-style-type: circle;
}
aside{
    width: 33%;
    padding: 15px 1.5625%;
    float: right;
}
img{
    width: 100%;
    max-width: 350px;
    max-height: 250px;
    padding: 10px 10px;
}
.img_aside{
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    padding: 20px 20px;
}
#slides{
    display: none;
}
footer{
    clear: both;
    width: 96.875%;
    padding: 15px 1.5625%;
    text-align: center;
}